{% extends "allianceauth/base-bs5.html" %}
{% load i18n %}
{% load humanize  %}
{% load evelinks  %}

{% block page_title %}{% trans "Active Buybacks!" %}{% endblock %}
{% block header_nav_brand %}{% translate "Active Buybacks" %}{% endblock header_nav_brand %}

{% block extra_css %}
    {% include 'bundles/datatables-css-bs5.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <p class="text-center">Last updated: Sometime in the last day or so</p>
        <p class="text-center">Active Buybacks are listed on market as "Buy Orders" in the locations shown in the table.</p>
        <br>
        <div class="col-lg-12 container">
                <table id="market" class="table table-responsive" style="width: 100%;">
                    <thead>
                        <th></th>
                        <th>Item</th>
                        <th>Item Price</th>
                        <th>Remaining</th>
                        <th>Location</th>
                    </thead>
                    <tbody>
                        {% for m in orders %}
                        <tr>
                            <td class=""><img src="{{ m.type_id|type_icon_url}}"></img></td>
                            <td class="">{{m.type_name.name}}</td>
                            <td class="">{{m.price}}</td>
                            <td class="">{{m.volume_remain}} of {{m.volume_total}}</td>
                            <td class="">{{m.location_name.location_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>    
        </div>

    </div>
{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js-bs5.html' %}
    {% include 'bundles/filterdropdown-js.html' %}
    <script>
        $(document).ready(function() {
            $('#market').DataTable({
                filterDropDown: {
                    columns: [{
                        idx: 4
                    }],
                    bootstrap: true,
                    bootstrap_version: 5
                },
                columnDefs: [
                    {
                        targets: 2,
                        render: $.fn.dataTable.render.number(',', '.', 2, null, " ISK")
                    },
                    {   sortable: false,
                        targets: [0,3]
                    },
                ],
                order: [
                    [1, "asc"]
                ],
                pageLength: 50,
                autoWidth: false
            });
        });
    </script>
{% endblock %}
